/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    z-index: -1;
}
body {
    background-color: #22262d;
}
.content {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
}
.jumbotron {
    background-image: url(./new.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    margin: auto;
}
.carousel-item:before {
    content: "";
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
/* .carousel {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto auto;
    width: 350px;
}

.carousel-item {
    object-fit: cover;
} */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
  }

.left, .right {
      padding: 10px;
      margin: 10px;
      text-align:center;
 }
/* .carousel .item {
    height: 300px;
  } */
  
  /* .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  } */